.password-options {
  background-color: grey;
  padding: 15px ;
}

.ch-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ch-length span {
  color: rgb(202, 228, 59);
  font-size: 28px;
}

